{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
        <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
    </div>
    <div class="card-body">
        <div class="card-text">{{post.content}}</div>
        <div class="likes">
            <a class="btn text-success" href="{{url_for('.like_post',id=post.id)}}">Like <span
                class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{post.like.count()}}</span> </a>


            <a class="btn text-danger" href="{{url_for('.dislike_post',id=post.id)}}">Dislike <span
                class="glyphicon glyphicon-thumbs-down" aria-hidden="true">{{post.dislike.count()}}</span> </a>
            <br>
        </div>
        <div class="collapse" id="comments-{{post.id}}">
            <div class="card">
                <div class="card-body" id="comments-expanded-{{post.id}}">
                    {% for comment in post.comments %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>:
                            {{comment.comment}}
                        </div>
                        <div>
                            <small class="text-muted"> {{comment.date_created}}</small>
                            {% if user.id == comment.user_id or user.id == post.user_id %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                                    data-bs-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        {% if user.id ==post.user.id %}
                        <div class="btn-group">
                            <button class = "btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" type = "button"></button>
                            <ul class="dropdown-menu">
                                <li><a href="/delete-post/{{post.id}}" class="dropdown-item"></a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="card-text">
            {% if post.comments|length > 0 %}
            <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                <small>View {{post.comments|length}} Comments</small>
            </a>
            {% else %}
            <small class="text-muted">No Comments</small>
            {% endif %}
        </p>
        <a class="btn btn-primary" href="{{url_for('.create_comment',id=posts.id)}}"> Add comment</a>
    </div>
    <div class="card-footer text-muted">{{post.time_created}}</div>
</div>
<br>

<hr>
{% endfor %}
{% endblock %}

{% block footer %}
<div class="center">
    <a href="/create-post"><button type="button" class="btn btn-primary btn-lg">
            Create a Post
        </button></a>
</div>
{% endblock %}